<%- include("./partials/header.ejs") %>

<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img
          src="images/1x1.jpg"
          class="rounded mx-auto d-block"
          alt="about image"
          height="250"
          width="250"
        />
        <div class="col">
          <div class="p-3"></div>
        </div>
        <p class="lead text-body-secondary">
          Something short and leading about the collection below—its contents,
          the creator, etc. Make it short and sweet, but not too short so folks
          don’t simply skip over it entirely.
        </p>
        <p>
          <a href="/contact" class="btn btn-primary my-2">Let's Connect</a>
        </p>
      </div>
    </div>
  </section>
</main>

<%- include("./partials/footer.ejs") %>
